body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent {
  color: #2e2f42;
}

.menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-link {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.title {
  background-color: #2e2f42;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-title {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

.content {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  letter-spacing: 0.02em;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.list {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
